/*universal styles */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v2/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(https://fonts.gstatic.com/s/arimo/v11/P5sBzZCDf9_T_1Wi4TRDrZI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v4/o-0IIpQoyXQa2RxT7-5r5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* main rules */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-size: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-family: Catamaran;
  font-weight: bold;
  font-size: 2.2rem;
}
h4 {
  font-family: Arimo;
  font-size: 1.5rem;
}
p {
  font-family: Prompt;
  font-size: 1rem;
}
/*header*/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  background-color: #FDFEFF;
  height: 4rem;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  flex-grow: 1;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 2rem;
}
.logo span {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "prompt", helvetica, arial;
  letter-spacing: 0.07rem;
}
.navbar a {
  color: black;
}
.navbar a {
  font-size: 1.05rem;
  font-family: Rubik;
}
.navbar a:hover {
  color: #2E3E6B;
}
.topnav {
  padding-right: 1rem;
}
#special {
  color: silver;
  font-weight: normal;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 640px) {
  .navbar {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .mobile-cont nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
/* main banner */
.main-container {
  position: relative;
  top: 4rem;
}
.main-banner {
  display: flex;
  padding: 2rem 1.5rem;
  background-color: #BCCBD3;
  top: 4rem;
}
.image {
  width: 60%;
}
.image img {
  width: 100%;
}
.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  width: 30%;
}
h1 {
  font-family: Arimo;
  font-size: 2.75rem;
  color: #727272;
}
.banner-info h2 {
  font-family: Arimo;
  font-size: 1.5rem;
  padding: 1.75rem 0rem;
  color: #727272;
}
.button {
  text-align: center;
  background-color: black;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  transition: 500ms linear 500ms;
}
.button a {
  color: white;
  font-family: Arimo;
}
.button:hover {
  background-color: #2E3E6B;
}
@media only screen and (max-width: 640px) {
  .main-banner {
    flex-direction: column;
    padding: 0;
  }
  .image {
    width: 100%;
  }
  .banner-info {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
    max-height: 100%;
  }
  .banner-info h1 {
    font-size: 2.3rem;
  }
  .banner-info h2 {
    padding: 2rem 0 1.5rem;
  }
}
/*Second Banner */
.second-banner {
  display: flex;
  padding: 2rem 0;
  padding-left: 1.5rem;
  background-color: #E4E9ED;
}
.left {
  width: 60%;
  margin-right: 1.5rem;
}
.left .image {
  width: 100%;
}
.left-text h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.left-text p {
  padding-bottom: 1.5rem;
  font-family: Catamaran;
}
.right {
  width: 40%;
}
.Article {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border: 0.5px solid lightgrey;
}
.small-image {
  width: 35%;
}
.small-image img {
  width: 100%;
  height: auto;
}
.main-info {
  width: 65%;
  padding-left: 1rem;
  font-family: Catamaran;
}
.main-info p {
  padding: .5rem 0;
}
.main-info h3 {
  font-size: 1.8rem;
}
.right .Article:nth-child(0n + 3) {
  background-color: #BCCBD3;
}
.mobile-image {
  display: none;
}
@media only screen and (max-width: 640px) {
  .second-banner {
    padding: 0;
  }
  .second-banner .left {
    display: none;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    width: 100%;
  }
  .small-image {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .Article {
    border: none;
    flex-direction: column;
    width: 100%;
  }
  .main-info {
    width: 100%;
  }
  .second-banner h3 {
    padding-top: 1rem;
  }
  .pad {
    padding-bottom: 3rem;
  }
  .padding {
    padding-bottom: 2rem;
  }
  .right .Article:nth-child(0n + 3) {
    background-color: #E4E9ED;
  }
}
/*Third Banner */
.third-banner {
  padding: 2rem 3.5rem;
  background-color: #BCCBD3;
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.top-line,
.bottom-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-line {
  margin-bottom: 2rem;
}
.third-boxes {
  margin: 0 1rem;
  width: 33.33%;
  background-color: #E4E9ED;
}
.third-image img {
  display: block;
  width: 100%;
}
.third-text {
  padding: 1rem 1rem 1.5rem;
}
.third-text p {
  padding-top: 0.5rem;
}
@media only screen and (max-width: 640px) {
  .third-image,
  .third-main p {
    display: none;
  }
  .third-banner {
    padding: 2rem 1rem;
  }
  .top-line,
  .bottom-line {
    flex-direction: column;
  }
  .third-text {
    width: 100%;
  }
  .third-boxes {
    width: 100%;
    margin: 0;
    background-color: #BCCBD3;
  }
  .third-text {
    margin-bottom: 0.5rem;
    background-color: #E4E9ED;
  }
  .margin-correct {
    margin-bottom: 0;
  }
  .top-line {
    margin-bottom: 0;
  }
}
/*Fourth Banner*/
.fourth-main {
  padding: 0 0 2rem 1.5rem;
  display: flex;
}
.fourth-banner .heading {
  padding-top: 2rem;
}
.fourth-banner {
  background-color: #E4E9ED;
}
.image video {
  width: 100%;
}
.fourth-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.fourth-text p {
  line-height: 1.1rem;
  font-family: catamaran;
}
#nth:first-child {
  background-color: #BCCBD3;
}
@media only screen and (max-width: 640px) {
  .fourth-banner .right,
  .fourth-text {
    display: none;
  }
  .heading {
    margin-bottom: 1rem;
  }
  .fourth-main {
    padding: 0;
  }
  .left {
    width: 100%;
    margin: 0 0 1.5rem;
  }
}
/*footer */

footer {
  display: flex;
  padding: 1rem 1.5rem 3rem 1.5rem;
  border-top: 0.5px solid #BCCBD3;
  background-color: #E4E9ED;
  font-family: Prompt;
  font-size: 0.8rem;
}
.footer {
  flex: 1;
}
footer a:hover {
  color: #2E3E6B;
}
@media only screen and (max-width: 640px) {
  footer nav {
    display: none;
  }
  footer {
    padding: 1rem 1rem;
  }
}
